@font-face {
    font-family: 'FSRailway';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local("FSRailway"),
    url('/font/FSRailway Book.otf') format('opentype');
}
@font-face {
    font-family: 'RussianRail';
    src: local("RussianRail"),
    url('/font/russianrail-g-pro-medium.ttf') format('truetype');
}
body {
    font-family: FSRailway, serif;
}
